.manager-title{
    color: white;
    margin-top: 2%;
    margin-left: 3%;
}

#member-request{
    margin-left: 10%;
    margin-top: 1%;
    width: 80%;
    flex-direction: row;
}

.btn-admin{
    width: 150px;
    height: 80px;
    margin-top: 2%;
}